<footer class="footer footer-color">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-6">
         <p>
          &copy; 2017 Ana Spengler, Kleber Stamboni e Pedro Coloma. Todos os direitos reservados.
          </p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <a class="footer-link" href="/mapa">Mapa do site</a>
        <span>&nbsp;•&nbsp;</span>
        <a class="footer-link" href="/licencas">Licenças</a>
      </div>
    </div>
  </div>
</footer>
