<header class="navbar navbar-default navbar-fixed-top header-color">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Barra de navegação</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" title="Ir para a página inicial.">NERD AL DENTE</a>
      <p class="navbar-text"><span class="sr-only">Slogan:</span>O sabor da vida depende de quem a tempera.</p>
    </div>

    {% if user.is_authenticated %}
    <nav class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Olá, {{ user.first_name }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="menu"><a href="/cadastrar-receita">Cadastrar receita</a></li>
            <li class="menu"><a href="/logout">Sair</a></li>
          </ul>
        </li>
      </ul>
      {% else %}
      <nav class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/login" title="Conecte-se!">Login</a></li>
          <li><a href="/cadastrar-usuario" title="Cadastre-se e comece a compartilhar receitas!">Cadastro</a></li>
        </ul>
      {% endif %}

      <form class="navbar-form navbar-right" role="search" action="/pesquisa">
        <div class="input-group stylish-input-group">
          <label for="inputPesquisa" class="sr-only">Barra de pesquisa do Nerd al Dente</label>
          <input type="text" id="inputPesquisa" name="q" class="form-control" style="border-top-left-radius: 4px; border-bottom-left-radius: 4px;" list="dataSugestoes" placeholder="Pesquisar" />
          <span class="sr-only">Sugestões disponíveis</span>
          <datalist id="dataSugestoes">
            {% for receita in sugestao_receitas %}
            <option value="{{ receita.nome_receita }}">
            {% endfor %}
          </datalist>
          <span class="input-group-addon">
            <label for="buttonPesquisa" class="sr-only">Pesquisar</label>
            <button type="submit" id="buttonPesquisa" onclick="pesquisa();">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
    </nav>
  </div>
</header>
