<nav class="container">
  <div class="list-group menu">
    <a href="/categoria/acompanhamentos" class="list-group-item" title="Veja as receitas disponíveis para acompanhamentos."><span class="sr-only">Categoria:</span>Acompanhamentos</a>
    <a href="/categoria/aperitivos" class="list-group-item" title="Veja as receitas disponíveis para aperitivos."><span class="sr-only">Categoria:</span>Aperitivos</a>
    <a href="/categoria/entradas" class="list-group-item" title="Veja as receitas disponíveis para entradas."><span class="sr-only">Categoria:</span>Entradas</a>
    <a href="/categoria/lanches" class="list-group-item" title="Veja as receitas disponíveis para lanches."><span class="sr-only">Categoria:</span>Lanches</a>
    <a href="/categoria/molhos" class="list-group-item" title="Veja as receitas disponíveis para molhos."><span class="sr-only">Categoria:</span>Molhos</a>
    <a href="/categoria/pratos%20principais" class="list-group-item" title="Veja as receitas disponíveis para pratos principais."><span class="sr-only">Categoria:</span>Pratos Principais</a>
    <a href="/categoria/saladas" class="list-group-item" title="Veja as receitas disponíveis para saladas."><span class="sr-only">Categoria:</span>Saladas</a>
    <a href="/categoria/sobremesas" class="list-group-item" title="Veja as receitas disponíveis para sobremesas."><span class="sr-only">Categoria:</span>Sobremesas</a>
  </div>
</nav> <br>
