{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="icon" type="image/png" href="{% static 'img/logo16.png' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="O lugar para se encontrar as melhores receitas!">
<meta name="author" content="Ana Spengler, Kleber Stamboni, Pedro Coloma">
<meta property="og:type" content="article">
<meta property="og:description" content="O lugar para se encontrar as melhores receitas!">
<meta property="og:image" content="https://nerdaldente.com.br/static/img/logo512.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/estilonerd.css' %}">
