{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Cadastre-se – Nerd al Dente</title>
		<meta property="og:url" content="http://nerdaldente.com.br/cadastrar-usuario">
		<meta property="og:title" content="Cadastre-se – Nerd al Dente">
		{% include 'includes/meta.html' %}
	</head>
	<body>
		<div class="wrap">

			{% include 'includes/header.html' %}

			{% include 'includes/menu.html' %}

			<main class="container">
				<div class="alert alert-danger alert-dismissible hidden" role="alert" id="aviso">
					{% if user.is_authenticated %}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<strong>Oooops...</strong> Você já está conectado como {{ user.username }}. Deseja cadastrar outro usuário?
					{% endif %}
				</div>
				<div class="row">
					<div class="col-md-1"></div>
					<article class="col-md-6">
						<header>
							<h1>Cadastre-se</h1>
							<p>Preencha todos os campos.</p>
						</header>
						<form id="cadastro-form" method="post">
							{% csrf_token %}
							<br>
							<div class="form-group" id="inputNomeGroup">
								<label for="inputNome">Nome</label>
								<input type="text" id="inputNome" name="inputNome" class="form-control" placeholder="Seu nome completo" required autofocus>
								<span class="help-block hidden" id="inputNomeError"></span>
							</div>

							<div class="form-group" id="inputNascimentoGroup">
								<label for="inputNascimento">Data de nascimento</label>
								<input type="date" id="inputNascimento" name="inputNascimento" class="form-control" required>
								<span class="help-block hidden" id="inputNascimentoError"></span>
							</div>

							<div class="form-group" id="inputCidadeGroup">
								<label for="inputCidade">Cidade</label>
								<input type="text" id="inputCidade" name="inputCidade" placeholder="Ex: São Carlos" class="form-control" required>
								<span class="help-block hidden" id="inputCidadeError"></span>
							</div>

							<div class="form-group" id="inputEstadoGroup">
								<label for="inputEstado">Estado</label>
								<select class="form-control" id="inputEstado" name="inputEstado">
									<option value="VD"></option>
									<option value="AC">Acre</option>
									<option value="AL">Alagoas</option>
									<option value="AP">Amapá</option>
									<option value="AM">Amazonas</option>
									<option value="BA">Bahia</option>
									<option value="CE">Ceará</option>
									<option value="DF">Distrito Federal</option>
									<option value="ES">Espírito Santo</option>
									<option value="GO">Goiás</option>
									<option value="MA">Maranhão</option>
									<option value="MT">Mato Grosso</option>
									<option value="MS">Mato Grosso do Sul</option>
									<option value="MG">Minas Gerais</option>
									<option value="PA">Pará</option>
									<option value="PB">Paraíba</option>
									<option value="PR">Paraná</option>
									<option value="PE">Pernambuco</option>
									<option value="PI">Piauí</option>
									<option value="RJ">Rio de Janeiro</option>
									<option value="RN">Rio Grande do Norte</option>
									<option value="RS">Rio Grande do Sul</option>
									<option value="RO">Rondônia</option>
									<option value="RR">Roraima</option>
									<option value="SC">Santa Catarina</option>
									<option value="SP">São Paulo</option>
									<option value="SE">Sergipe</option>
									<option value="TO">Tocantins</option>
								</select>
								<span class="help-block hidden" id="inputEstadoError"></span>
							</div>

							<div class="form-group" id="inputTelefoneGroup">
								<label for="inputTelefone">Telefone</label>
								<input id="inputTelefone" name="inputTelefone" class="form-control" placeholder="Ex: (16) 3012-2013" title="O telefone deve seguir o seguinte formato (XX) XXXX-XXXX, com o espaço inclusive. Como por exemplo, (16) 3012-2013." maxlength="14" pattern="\([0-9]{2}\) [0-9]{4}-[0-9]{4}" required>
								<span class="help-block hidden" id="inputTelefoneError"></span>
							</div>

							<div class="form-group" id="inputEmailGroup">
								<label for="inputEmail">E-mail</label>
								<input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Informe seu e-mail" required>
								<span class="help-block hidden" id="inputEmailError"></span>
							</div>

							<div class="form-group" id="inputSenhaGroup">
								<label for="inputSenha">Senha</label>
								<input type="password" id="inputSenha" name="inputSenha" class="form-control" placeholder="Informe sua senha" required>
								<span class="help-block hidden" id="inputSenhaError"></span>
								<div class="alert alert-danger hidden" id="inputSenhaAlert">
  									<strong>Socorro!</strong>
										<div>
											Sua senha ainda precisa de:
											<ul id="inputSenhaErrors">
											</ul>
										</div>
								</div>
							</div>

							<div class="form-group" id="inputConfirmaSenhaGroup">
								<label for="inputConfirmaSenha">Confirme sua senha</label>
								<input type="password" id="inputConfirmaSenha" class="form-control" placeholder="Informe sua senha novamente" required>
								<span class="help-block hidden" id="inputConfirmaSenhaError"></span>
							</div>
							<br>
							<button class="btn btn-lg btn-primary btn-block button-color" type="button">Cadastrar</button>
							<br>
						</form>
					</article>

					<div class="col-md-1"></div>

					<aside class="col-md-3">
						<header>
							<h2>Faça parte do <br>Nerd al Dente!</h2>
						</header>
						<div class="well well-lg">
							 <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <br>
							 <span>Encontre sua próxima refeição</span> <br> <br>
							 <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> <br>
							 <span>Compartilhe suas criações</span> <br> <br>
							 <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> <br>
							 <span>Aprenda novos truques</span> <br> <br>
							 <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> <br>
							 <span>Avalie as melhores receitas</span>
						</div>
					</aside>
					<div class="col-md-1"></div>
				</div>
			</main>
		</div>

		{% include 'includes/footer.html' %}

		{% include 'includes/scripts.html' %}
		<script src="{% static 'plugins/js/jquery.mask.min.js' %}"></script>
		<script src="{% static 'js/cadastro.usuario.js' %}"></script>

	</body>
</html>
