{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Nova receita – Nerd al Dente</title>
		<meta property="og:url" content="http://nerdaldente.com.br/cadastrar-receita">
		<meta property="og:title" content="Nova receita – Nerd al Dente">
		{% include 'includes/meta.html' %}
	</head>
	<body>
		<div class="wrap">

			{% include 'includes/header.html' %}

			{% include 'includes/menu.html' %}

			<main class="container">
				<div class="alert alert-success alert-dismissible hidden" role="alert" id="aviso">
				</div>
				<div class="row">
					<div class="col-md-1"></div>
					<article class="col-md-6">
						<header>
							<h1>Cadastrar uma nova receita</h1>
							<p>Preencha todos os campos.</p>
						</header>
						<form class="form-horizontal" id="cadastro-form">
							<br>
							<div class="form-group">
								<label for="inputNome">Autor</label>
								<input type="text" id="inputNome" name="inputNome" class="form-control" maxlength="50" value="{{ autor }}" readonly>
							</div>
							<div class="form-group" id="inputReceitaGroup">
								<label for="inputReceita">Nome da receita</label>
								<input type="text" id="inputReceita" name="inputReceita" class="form-control" placeholder="Ex: Bolo de Milho" maxlength="50" required autofocus>
								<span class="help-block hidden" id="inputReceitaError"></span>
								<br>
							</div>
							<div class="form-group" id="inputCategoriasGroup">
								<div class="panel panel-info" id="inputCategoriasPanel">
									<div class="panel-heading">
	    							<h3 class="panel-title">Categorias</h3>
	  							</div>
	  							<div class="panel-body">
										<fieldset>
										<div class="checkbox">
	    								<label><input type="checkbox" name="inputCategoria" value="Acompanhamentos">Acompanhamentos</label>
  									</div>
										<div class="checkbox">
	    								<label><input type="checkbox" name="inputCategoria" value="Aperitivos">Aperitivos</label>
  									</div>
										<div class="checkbox">
	    								<label><input type="checkbox" name="inputCategoria" value="Entradas">Entradas</label>
  									</div>
										<div class="checkbox">
	    								<label><input type="checkbox" name="inputCategoria" value="Lanches">Lanches</label>
  									</div>
										<div class="checkbox">
	    								<label><input type="checkbox" name="inputCategoria" value="Molhos">Molhos</label>
  									</div>
										<div class="checkbox">
	    								<label><input type="checkbox" name="inputCategoria" value="Pratos Principais">Pratos Principais</label>
  									</div>
										<div class="checkbox">
	    								<label><input type="checkbox" name="inputCategoria" value="Saladas">Saladas</label>
  									</div>
										<div class="checkbox">
	    								<label><input type="checkbox" name="inputCategoria" value="Sobremesas">Sobremesas</label>
  									</div>
										<div class="has-error">
										<p class="help-block hidden" id="inputCategoriasError"></p>
									</div>
									</fieldset>
									</div>
								</div>
							</div>
							<div class="form-group" id="inputIngredientesGroup">
								<div class="panel panel-info" id="inputIngredientesPanel">
									<div class="panel-heading">
	    							<h3 class="panel-title">Ingredientes</h3>
	  							</div>
	  							<div class="panel-body">
										<div id="ingrediente1">
											<div class="col-md-5">
												<label for="inputIngrediente1">Nome do ingrediente</label>
												<input type="text" id="inputIngrediente1" class="form-control" placeholder="Ex: Ovo" required>
											</div>
											<div class="col-md-3">
												<label for="inputQuantidade1">Quantidade</label>
												<input type="number" step="0.1" id="inputQuantidade1" class="form-control" placeholder="Ex: 2" required>
											</div>
											<div class="col-md-4">
												<label for="inputUnidade1">Unidade</label>
												<select class="form-control" id="inputUnidade1">
													<option value="VD"></option>
													<option value="cálice(s)">cálice(s)</option>
													<option value="colher(es) de café">colher(es) de café</option>
													<option value="colher(es) de chá">colher(es) de chá</option>
													<option value="colher(es) de sobremesa">colher(es) de sobremesa</option>
													<option value="colher(es) de sopa">colher(es) de sopa</option>
													<option value="copo(s)">copo(s)</option>
													<option value="copo(s) americano(s)">copo(s) americano(s)</option>
													<option value="copo(s) de requeijão">copo(s) de requeijão</option>
													<option value="dúzia(s)">dúzia(s)</option>
													<option value="g">g</option>
													<option value="kg">kg</option>
													<option value="l">l</option>
													<option value="ml">ml</option>
													<option value="pitada">pitada</option>
													<option value="pote(s) grande(s)">pote(s) grande(s)</option>
													<option value="pote(s) pequeno(s)">pote(s) pequeno(s)</option>
													<option value="pouco">pouco</option>
													<option value="unidade(s)">unidade(s)</option>
													<option value="xícara(s)">xícara(s)</option>
												</select>
											</div>
											<div class="col-md-12"><br></div>
										</div>
										<div id="ingrediente2"></div>
										<div class="col-md-12 has-error">
											<span class="help-block hidden" id="inputIngredientesError"></span>
											<a class="btn enabled text-left" id="inputMais"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar ingrediente</a>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group" id="inputDescricaoGroup">
								<label for="inputDescricao">Descrição</label>
								<textarea class="form-control" rows="6" id="inputDescricao" name="inputDescricao" maxlength="300" required></textarea>
								<small id="inputDescricaoHelp" class="form-text text-muted"><span id=inputDescricaoRestantes>300</span> caracteres restantes.</small>
								<span class="help-block hidden" id="inputDescricaoError"></span>
							</div>
							<div class="form-group" id="inputInstrucoesGroup">
								<label for="inputInstrucoes">Instruções de preparo</label>
								<textarea class="form-control" rows="14" id="inputInstrucoes" name="inputInstrucoes" maxlength="800" required></textarea>
								<small id="inputIntrucoesHelp" class="form-text text-muted"><span id=inputInstrucoesRestantes>800</span> caracteres restantes.</small>
								<span class="help-block hidden" id="inputInstrucoesError"></span>
							</div>
							<div class="form-group" id="inputTempoGroup">
								<label for="inputTempo">Tempo de preparo</label>
								<input type="number" id="inputTempo" name="inputTempo" class="form-control" placeholder="Ex: 60" required>
								<small id="inputTempoHelp" class="form-text text-muted">Em minutos.</small>
								<span class="help-block hidden" id="inputTempoError"></span>
							</div>
							<div class="form-group" id="inputPorcoesGroup">
								<label for="inputPorcoes">Porções</label>
								<input type="number" id="inputPorcoes" name="inputPorcoes" class="form-control" placeholder="Ex: 5" required>
								<small id="inputPorcoesHelp" class="form-text text-muted">Quantidade de pessoas.</small>
								<span class="help-block hidden" id="inputPorcoesError"></span>
							</div>
							<div class="form-group" id="inputNutricionalGroup">
								<label for="inputNutricional">Valor nutricional</label>
								<input type="number" id="inputNutricional" name="inputNutricional" class="form-control" placeholder="Ex: 150" required>
								<small id="inputNutricionalHelp" class="form-text text-muted">Em calorias.</small>
								<span class="help-block hidden" id="inputNutricionalError"></span>
							</div>
							<div class="form-group" id="inputMetodoGroup">
								<label for="inputMetodo">Método de cozimento</label>
								<select class="form-control" id="inputMetodo">
									<option value="VD"></option>
									<option value="Assado">Assado</option>
									<option value="Cozido">Cozido</option>
									<option value="Frito">Frito</option>
									<option value="Grelhado">Grelhado</option>
									<option value="Nenhum">Nenhum</option>
									<option value="Refogado">Refogado</option>
									<option value="Salteado">Salteado</option>
									<option value="Selado">Selado</option>
								</select>
								<span class="help-block hidden" id="inputMetodoError"></span>
								<br>
							</div>
							<div class="form-group" id="inputImagensGroup">
								<div class="panel panel-info" id="inputImagensPanel">
									<div class="panel-heading">
	    							<h3 class="panel-title">Imagens</h3>
	  							</div>
	  							<div class="panel-body">
										<div class="col-md-12">
											<a class="btn enabled text-left" id="inputImagens"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Fazer upload agora</a>
											<input id="fileupload" type="file" name="file" multiple style="display: none;" data-url="/ajax/upload-imagens/{{ receita_id }}" data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
											<div id="inputImagensError"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<span class="hidden" id="csrfmiddlewaretoken">{{ csrf_token }}</span>
								<span class="hidden" id="receita_id">{{ receita_id }}</span>
								<button class="btn btn-lg btn-primary btn-block button-color" type="button">Cadastrar</button>
								<br>
							</div>
						</form>
					</article>

					<div class="col-md-1"></div>

					<aside class="col-md-3">
						<div class="form-group">&nbsp;</div>
							<div class="panel panel-default">
								<header class="panel-heading text-center aside-color">
									<h2>Receitas que acabaram de sair do forno!</h2>
								</header>
								<div class="list-group">
									{% for receita in receitas_aside %}
									<a href="{% url 'core:detalhes_receita' receita.id %}" class="list-group-item">
										<h3 class="list-group-item-heading">{{ receita.nome_receita }}</h3>
										<p class="list-group-item-text text-justify">{{ receita.descricao }}</p>
									</a>
									{% empty %}
									<div class="list-group-item">
										<p class="list-group-item-text">Ainda não temos receitas.</p>
									</div>
									{% endfor %}
								</div>
							</div>
					</aside>

					<div class="col-md-1"></div>
				</div>
			</main>
		</div>

		{% include 'includes/footer.html' %}

		{% include 'includes/scripts.html' %}
		<script src="{% static 'plugins/js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
		<script src="{% static 'plugins/js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
		<script src="{% static 'plugins/js/jquery-file-upload/jquery.fileupload.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/cadastro.receita.js' %}"></script>

	</body>
</html>
