{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>{{ receita.nome_receita }} – Nerd al Dente</title>
		<meta property="og:url" content={{ url }}>
		<meta property="og:title" content="{{ receita.nome_receita }} – Nerd al Dente">
		{% include 'includes/meta.html' %}
		<link rel="stylesheet" href="{% static '/plugins/css/font-awesome.min.css' %}">
	</head>
	<body>
		<div class="wrap">

				{% include 'includes/header.html' %}

				{% include 'includes/menu.html' %}

				<div itemscope itemtype="http://schema.org/Recipe">
				<div class="container">
					<div class="alert alert-success alert-dismissible hidden" role="alert" id="aviso"></div>

					<span id="nota" class="hidden">{{ receita.media_notas }}</span>
					<span id="url_receita" class="hidden">{{ url }}</span>
					<span id="url_img" class="hidden">https://nerdaldente.com.br/{{ receita.imagem_padrao.file }}</span>
					<span id="id_receita" class="hidden">{{ id_receita }}</span>

					<section>
						<div class="row">
							<div class="col-md-12">
								<div class="bg-overlay text-center">
									<h1><span itemprop="name" id="nome_receita">{{ receita.nome_receita }}</span></h1>
									<p><i class="fa fa-clock-o" aria-hidden="true"></i> <span itemprop="prepTime" id="tempo_preparo">{{ receita.tempo_preparo }}</span> Minuto(s)</p>
									<p><i class="fa fa-cutlery" aria-hidden="true"></i> <span itemprop="recipeYield" id="porcoes">{{ receita.porcoes }}</span> Porção(ões)</p>
									<p itemprop="nutrition" itemscope itemtype="http://schema.org/NutritionInformation"><i class="fa fa-pie-chart" aria-hidden="true"></i> <span itemprop="calories" id="calorias">{{ receita.valor_nutricional }}</span> Caloria(s)</p>
									<p><i class="fa fa-cube" aria-hidden="true"></i> Tipo de Cozimento | <span itemprop="cookingMethod" id="metodo">{{ receita.metodo_cozimento }}</span></p>
									<p id="categorias"><i class="fa fa-tags" aria-hidden="true"></i>
										{% for categoria in receita.categorias.all %}
	    							{% if forloop.first %}{% else %}
	        					{% if forloop.last %} e {% else %}, {% endif %}
	    							{% endif %}<span itemprop="recipeCategory" id="categoria{{ forloop.counter }}">{{categoria}}</span>
										{% empty %}
										<span>Não há categorias registradas</span>
										{% endfor %}
									</p>
								</div>
							</div>
						</div>
					</section>
					<main>
						<br>
						<div class="row">
							<div class="col-md-8">
								<p>Receita enviada por <span itemprop="author" id="autor">{{ autor }}</span> em <span itemprop="datePublished">{{ receita.data_publicacao }}</span>.</p>
								<h2>Ingredientes</h2>
								<ul id="ingredientes">
									{% for ingrediente in receita.receitaingrediente_set.all %}
									<li><span itemprop="recipeIngredient" id="ingrediente{{ forloop.counter }}">{{ ingrediente.quantidade }} {{ ingrediente.unidade.nome_unidade }} de {{ ingrediente.ingrediente.nome_ingrediente }}</li>
									{% empty %}
									<li>Não há ingredientes registrados.</li>
									{% endfor %}
								</ul>

								<h2>Instruções</h2>
								<p><span itemprop="description" id="descricao" style="white-space: pre-wrap;">{{ receita.descricao }}</span></p>
								<br>
								<p><span itemprop="recipeInstructions" id="instrucoes" style="white-space: pre-wrap;">{{ receita.instrucoes_preparo }}</span></p>
							</div>

							<div class="col-md-4">
								<div id="myCarousel" class="carousel slide fotos" data-ride="carousel">
									<ol class="carousel-indicators">
										{% for imagem in imagens %}
										{% if forloop.first %}
										<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
										{% else %}
							  		<li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}"></li>
										{% endif %}
										{% endfor %}
									</ol>

									<div class="carousel-inner">
										{% for imagem in imagens %}
										{% if forloop.first %}
										<div class="item active">
											<img src="/media/{{ imagem.file }}" alt="{{ imagem.imagem_alt }}" style="height: 250px; width:100%;">
							  		</div>
										{% else %}
										<div class="item">
											<img src="/media/{{ imagem.file }}" alt="{{ imagem.imagem_alt }}" style="height: 250px; width:100%;">
							  		</div>
										{% endif %}
										{% endfor %}
									</div>

									<a class="left carousel-control" href="#myCarousel" data-slide="prev">
							  		<span class="glyphicon glyphicon-chevron-left"></span>
							  		<span class="sr-only">Anterior</span>
									</a>
									<a class="right carousel-control" href="#myCarousel" data-slide="next">
							  		<span class="glyphicon glyphicon-chevron-right"></span>
							  		<span class="sr-only">Próximo</span>
									</a>
						  	</div>
						  	<br><br>
						  	<center>
									<a class="btn btn-default" href="/imprimir/{{ id_receita }}" target="_blank"><i class="fa fa-print" aria-hidden="true"></i> Imprimir receita</a>
								</center>
						  	<br>
						  	<center>
									<a class="btn btn-default" id="exportar"><i class="fa fa-share-square-o" aria-hidden="true"></i> Exportar receita</a>
								</center>
							</div>
						</main>
					</div>
			</div>
				<section>
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h3>Comentários</h3>
							</div>
						</div>
					{% for comentario in comentarios %}
					<div class="row">
						<div class="col-md-1">
							<div class="thumb">
								<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
							</div>
						</div>

						<div class="col-md-5">
							<div class="panel panel-default">
								<div class="panel-heading">
									<strong>{{ comentario.autor.first_name }} {{ comentario.autor.last_name }}</strong> <span class="text-muted">comentou em {{ comentario.data_publicacao }}</span>
								</div>
								<div class="panel-body">
									<span itemprop="comment" id="comentario{{ forloop.counter }}">{{ comentario.comentario }}</span>
								</div>
							</div>
						</div>

						<div class="col-md-6"></div>
					</div>
					{% empty %}
					<div class="row">
						<div class="col-md-6">
						 <div class="well"><h4><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></h4>
						 <p>Ninguém comentou ainda. Que tal ser o primeiro?</p></div>
					 </div>
				 </div>
					{% endfor %}

					{% if user.is_authenticated %}
					<div class="row">
						<div class="col-md-6">
							<h3>Junte-se à conversa</h3>
							<div class="panel panel-default">
								<div class="panel-body">
								<form method="POST" action="/receita/{{ id_receita }}">{% csrf_token %}
									<div class="form-group">
									<label class="sr-only" for="id_comentario">Comentário:</label>
									<textarea id="id_comentario" name="comentario" cols="60" rows="5" maxlength="300" placeholder="Escreva seu comentário..." required></textarea>
									<br><small id="inputComentarioHelp" class="form-text text-muted"><span id=inputComentarioRestantes>300</span> caracteres restantes.</small>
								</div>
									<label for="id_nota">Você gostou dessa receita?</label>
									<input type="hidden" name="nota" required id="id_nota" value="0"/>
									<div class="lead panel-body">
										<label class="sr-only" for="hearts">Atribua uma nota.</label>
										<div id="hearts" class="starrr"></div>
									</div>
									<button class="btn btn-success" type="submit">Publicar seu comentário</button>
								</form>
							</div>
						</div>
						</div>
							</div>
					{% else %}
						<div class="row">
							<a class="btn btn-success" href="/login?next=/receita/{{ id_receita }}" role="button">Faça login para deixar sua opinião!</a>
							<br><br>
						</div>
					{% endif %}
				</div>
				</section>
			</div>
		</div>

		{% include 'includes/footer.html' %}

		{% include 'includes/scripts.html' %}
		<script src="{% static 'js/detalhes.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'plugins/js/starrr.js' %}"></script>

	</body>
</html>
