{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>{{ receita.nome_receita }} – Nerd al Dente</title>
		<link rel="icon" type="image/png" href="{% static 'img/logo16.png' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static '/plugins/css/font-awesome.min.css' %}">
	</head>
	<body onload="imprimir()">
		<main class="container">
			<div itemscope itemtype="http://schema.org/Recipe">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<center>
								<img src="/media/{{ receita.imagem_padrao.file }}">
							</center>
						</div>
						<br>
						<div class="text-center">
							<h1><strong><span itemprop="name" id="nome_receita">{{ receita.nome_receita }}</span></strong></h1>
							<p>
								<i class="fa fa-clock-o" aria-hidden="true"></i> <span itemprop="prepTime" id="tempo_preparo">{{ receita.tempo_preparo }}</span> Minuto(s)&nbsp;&nbsp;|&nbsp;&nbsp;
								<i class="fa fa-cutlery" aria-hidden="true"></i> <span itemprop="recipeYield" id="porcoes">{{ receita.porcoes }}</span> Porção(ões)&nbsp;&nbsp;|&nbsp;&nbsp;
								<span itemprop="nutrition" itemscope itemtype="http://schema.org/NutritionInformation"><i class="fa fa-pie-chart" aria-hidden="true"></i> <span itemprop="calories" id="calorias">{{ receita.valor_nutricional }}</span> Caloria(s)</span>&nbsp;&nbsp;|&nbsp;&nbsp;
								<i class="fa fa-cube" aria-hidden="true"></i> Tipo de Cozimento: <span itemprop="cookingMethod" id="metodo">{{ receita.metodo_cozimento }}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
								<i class="fa fa-tags" aria-hidden="true"></i>
								{% for categoria in receita.categorias.all %}
								{% if forloop.first %}{% else %}
								{% if forloop.last %} e {% else %}, {% endif %}
								{% endif %}<span itemprop="recipeCategory" id="categoria{{ forloop.counter }}">{{categoria}}</span>
								{% empty %}
								<span>Não há categorias registradas</span>
								{% endfor %}
							</p>
						</div>
					</div>
				</div>
				<br>
				<hr/>
				<div class="row">
					<h2>Ingredientes</h2>
					<ul id="ingredientes">
						{% for ingrediente in receita.receitaingrediente_set.all %}
						<li><span itemprop="recipeIngredient" id="ingrediente{{ forloop.counter }}">{{ ingrediente.quantidade }} {{ ingrediente.unidade.nome_unidade }} de {{ ingrediente.ingrediente.nome_ingrediente }}</li>
						{% empty %}
						<li>Não há ingredientes registrados.</li>
						{% endfor %}
					</ul>

					<h2>Instruções</h2>
					<p><span itemprop="description" id="descricao" style="white-space: pre-wrap;">{{ receita.descricao }}</span></p>
					<br>
					<p><span itemprop="recipeInstructions" id="instrucoes" style="white-space: pre-wrap;">{{ receita.instrucoes_preparo }}</span></p>
					<br>
				</div>
				<hr/>
			</div>
		</main>
		<footer class="container">
    		<p>© 2017. Receita publicada no <strong>Nerd al Dente</strong> por <span itemprop="author" id="autor">{{ autor }}</span>. Todos os direitos reservados.</p>
		</footer>

		<script>
		function imprimir() {
			window.print();
		}
		</script>

	</body>
</html>
