{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Nerd al Dente</title>
		<meta property="og:url" content="http://nerdaldente.com.br">
		<meta property="og:title" content="Nerd al Dente">
		{% include 'includes/meta.html' %}
	</head>
	<body>
		<div class="wrap">

			{% include 'includes/header.html' %}

			{% include 'includes/menu.html' %}

			<main class="container">
				<div class="alert alert-success alert-dismissible hidden" role="alert" id="aviso">
				</div>
				<div class="row">
					<div class="col-md-1"></div>
					<article class="col-md-6">
						<header>
							<h1 class="sr-only">Acompanhe as receitas mais recentes!</h1>
						</header>
						<nav>
							<header>
								<h2>{{ categoria1.nome_categoria }} <small>mais recentes</small></h2>
							</header>
							<div class="card-deck">
								{% for receita in receitas1 %}
								<div class="card">
									<a class="card-link" href="{% url 'core:detalhes_receita' receita.id %}" title='Visualizar a receita "{{ receita.nome_receita }}".'>
										<img class="card-img-top card-img-top-small" src="/media/{{ receita.imagem_padrao.file }}" alt="{{ receita.imagem_padrao.imagem_alt }}">
										<div class="card-body">
											<h3 class="card-title">{{ receita.nome_receita }}</h3>
											<h4 class="text-muted"><small>Por {{ receita.autor.dj_usuario.first_name }}</small></h4>
										</div>
										<div class="card-footer text-center">
											<span class="glyphicon glyphicon-star"></span>
											<small class="text-muted"><span class="sr-only">Nota da receita:</span>{{ receita.media_notas }}</small>
											<span>&nbsp;</span>
											<span class="glyphicon glyphicon-user"></span>
											<small class="text-muted"><span class="sr-only">Receita avaliada por:</span>{{ receita.qtd_votos }} votos</small>
										</div>
									</a>
								</div>
								 {% empty %}
								 <div class="jumbotron">
		   						<h2><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></h2>
		   						<p>Ah... ainda não temos receitas suficientes para apresentá-las a você. Que tal se aqui mostrasse uma das suas hein?</p>
		   						<p><a class="btn btn-primary btn-lg" href="/cadastrar-receita" role="button">Enviar uma receita</a></p>
		 						</div>
								{% endfor %}
							</div>
						</nav>
						<nav>
							<header>
								<h2>{{ categoria2.nome_categoria }} <small>mais recentes</small></h2>
							</header>
							<div class="card-deck">
								{% for receita in receitas2 %}
								<div class="card">
									<a class="card-link" href="{% url 'core:detalhes_receita' receita.id %}" title='Visualizar a receita "{{ receita.nome_receita }}".'>
										<img class="card-img-top card-img-top-small" src="/media/{{ receita.imagem_padrao.file }}" alt="{{ receita.imagem_padrao.imagem_alt }}">
										<div class="card-body">
											<h3 class="card-title">{{ receita.nome_receita }}</h3>
											<h4 class="text-muted"><small>Por {{ receita.autor.dj_usuario.first_name }}</small></h4>
										</div>
										<div class="card-footer text-center">
											<span class="glyphicon glyphicon-star"></span>
											<small class="text-muted"><span class="sr-only">Nota da receita:</span>{{ receita.media_notas }}</small>
											<span>&nbsp;</span>
											<span class="glyphicon glyphicon-user"></span>
											<small class="text-muted"><span class="sr-only">Receita avaliada por:</span>{{ receita.qtd_votos }} votos</small>
										</div>
									</a>
								</div>
								 {% empty %}
								 <div class="jumbotron">
									<h2><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></h2>
									<p>Ah... ainda não temos receitas suficientes para apresentá-las a você. Que tal se aqui mostrasse uma das suas hein?</p>
									<p><a class="btn btn-primary btn-lg" href="/cadastrar-receita" role="button">Enviar uma receita</a></p>
								</div>
								{% endfor %}
							</div>
						</nav>
						<nav>
							<header>
								<h2>{{ categoria3.nome_categoria }} <small>mais recentes</small></h2>
							</header>
							<div class="card-deck">
								{% for receita in receitas3 %}
								<div class="card">
									<a class="card-link" href="{% url 'core:detalhes_receita' receita.id %}" title='Visualizar a receita "{{ receita.nome_receita }}".'>
										<img class="card-img-top card-img-top-small" src="/media/{{ receita.imagem_padrao.file }}" alt="{{ receita.imagem_padrao.imagem_alt }}">
										<div class="card-body">
											<h3 class="card-title">{{ receita.nome_receita }}</h3>
											<h4 class="text-muted"><small>Por {{ receita.autor.dj_usuario.first_name }}</small></h4>
										</div>
										<div class="card-footer text-center">
											<span class="glyphicon glyphicon-star"></span>
											<small class="text-muted"><span class="sr-only">Nota da receita:</span>{{ receita.media_notas }}</small>
											<span>&nbsp;</span>
											<span class="glyphicon glyphicon-user"></span>
											<small class="text-muted"><span class="sr-only">Receita avaliada por:</span>{{ receita.qtd_votos }} votos</small>
										</div>
									</a>
								</div>
								 {% empty %}
								 <div class="jumbotron">
									<h2><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></h2>
									<p>Ah... ainda não temos receitas suficientes para apresentá-las a você. Que tal se aqui mostrasse uma das suas hein?</p>
									<p><a class="btn btn-primary btn-lg" href="/cadastrar-receita" role="button">Enviar uma receita</a></p>
								</div>
								{% endfor %}
							</div>
						</nav>
						<nav>
							<header>
								<h2>{{ categoria4.nome_categoria }} <small>mais recentes</small></h2>
							</header>
							<div class="card-deck">
								{% for receita in receitas4 %}
								<div class="card">
									<a class="card-link" href="{% url 'core:detalhes_receita' receita.id %}" title='Visualizar a receita "{{ receita.nome_receita }}".'>
										<img class="card-img-top card-img-top-small" src="/media/{{ receita.imagem_padrao.file }}" alt="{{ receita.imagem_padrao.imagem_alt }}">
										<div class="card-body">
											<h3 class="card-title">{{ receita.nome_receita }}</h3>
											<h4 class="text-muted"><small>Por {{ receita.autor.dj_usuario.first_name }}</small></h4>
										</div>
										<div class="card-footer text-center">
											<span class="glyphicon glyphicon-star"></span>
											<small class="text-muted"><span class="sr-only">Nota da receita:</span>{{ receita.media_notas }}</small>
											<span>&nbsp;</span>
											<span class="glyphicon glyphicon-user"></span>
											<small class="text-muted"><span class="sr-only">Receita avaliada por:</span>{{ receita.qtd_votos }} votos</small>
										</div>
									</a>
								</div>
								 {% empty %}
								 <div class="jumbotron">
									<h2><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></h2>
									<p>Ah... ainda não temos receitas suficientes para apresentá-las a você. Que tal se aqui mostrasse uma das suas hein?</p>
									<p><a class="btn btn-primary btn-lg" href="/cadastrar-receita" role="button">Enviar uma receita</a></p>
								</div>
								{% endfor %}
							</div>
						</nav>
						<br>
					</article>

					<div class="col-md-1"></div>

					<aside class="col-md-3">
						<div class="form-group">&nbsp;</div>
						<div class="panel panel-default">
							<header class="panel-heading text-center aside-color">
								<h2>Os chefs</h2>
							</header>
							<ul class="list-group">
								{% for usuario in chefs %}
								<li class="list-group-item">
									<span class="badge">{{ usuario.total }} receitas</span>
									{{ usuario.autor__dj_usuario__first_name }} {{ usuario.autor__dj_usuario__last_name }}
								</li>
								{% empty %}
								<li class="list-group-item">
									Ninguém publicou ainda.
								</li>
								{% endfor %}
							</ul>
						</div>
						<div class="form-group">&nbsp;</div>
						<div class="panel panel-default">
							<header class="panel-heading text-center aside-color">
								<h2>Os degustadores</h2>
							</header>
							<ul class="list-group">
									{% for usuario in degustadores %}
									<li class="list-group-item">
										<span class="badge">{{ usuario.total }} votos</span>
										{{ usuario.autor__first_name }} {{ usuario.autor__last_name }}
									</li>
									{% empty %}
									<li class="list-group-item">
										Ninguém publicou ainda.
									</li>
									{% endfor %}
							</ul>
						</div>
					</aside>
					<div class="col-md-1"></div>
				</div>
			</main>
		</div>

		{% include 'includes/footer.html' %}

		{% include 'includes/scripts.html' %}
		<script src="{% static 'js/util.js' %}"></script>

		<script>
			$(document).ready(function()
			{
				var param = get_url_param("nu");

				if (param)
				{
					$('#aviso').append('<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
					$('#aviso').append('<strong>Legal!</strong> Agora você fez se cadastrou e pode fazer muito mais no Nerd al Dente.');
					$('#aviso').removeClass('hidden');
				}

				param = get_url_param("ln");

				if (param)
				{
					$('#aviso').append('<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
					$('#aviso').append('<strong>Legal!</strong> Agora você fez o login e pode fazer muito mais no Nerd al Dente.');
					$('#aviso').removeClass('hidden');
				}

				param = get_url_param("lo");

				if (param)
				{
					$('#aviso').append('<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
					$('#aviso').append('<strong>Ah...</strong> Você encerrou sua sessão, mas pode voltar quando quiser!');
					$('#aviso').removeClass('hidden');
				}

				param = get_url_param("nr");

				if (param)
				{
					$('#aviso').append('<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
					$('#aviso').append('<strong>Legal!</strong> Você acabou de compartilhar uma nova receita com todo mundo.');
					$('#aviso').removeClass('hidden');
				}
			});
		</script>

	</body>
</html>
