<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Licenças – Nerd al Dente</title>
		<meta property="og:url" content="http://nerdaldente.com.br/licencas">
		<meta property="og:title" content="Licenças – Nerd al Dente">
		{% include 'includes/meta.html' %}
	</head>
	<body>
		<div class="wrap">

			{% include 'includes/header.html' %}

			{% include 'includes/menu.html' %}

			<main class="container">
				<div class="row">
					<div class="col-md-1"></div>
					<article class="col-md-6">
						<header>
							<h1>Licenças</h1>
						</header>
						<br>
						<p class="text-justify">A equipe de desenvolvimento do <strong>Nerd al Dente</strong> agradece os seguintes projetos: <br> <br>
							Os componentes do <a href="https://getbootstrap.com" target="_blank">Bootstrap</a> foram utilizados amplamente neste site. O código é fornecido pela licença MIT. <br> <br>
							A imagem do logo foi criada originalmente por <a href="https://www.flaticon.com/authors/linector" target="_blank">Linector</a> e publicada em <a href="https://www.flaticon.com" target="_blank">Flaticon</a> sob a licença <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC 3.0 BY</a>. <br> <br>
							A mensagem do <em>slogan</em> é proveniente da publicação em <a href="https://www.pensador.com/frase/MTM3NDEzMw/" target="_blank">Pensador</a> de <a href="https://www.pensador.com/autor/elanklever/" target="_blank">Elanklever</a>. <br> <br>
							A barra de busca foi adaptada de um <em>snippet</em> proposto por <a href="https://bootsnipp.com/rcbytes" target="_blank">Rcbytes</a> e publicado em <a href="https://bootsnipp.com" target="_blank">Bootsnipp</a> sob a licença MIT. <br> <br>
							O <em>widget</em> para avaliação de receitas provém de um <em>snippet</em> proposto por <a href="https://bootsnipp.com/murenovich" target="_blank">Murenovich</a> e publicado em <a href="https://bootsnipp.com" target="_blank">Bootsnipp</a> sob a licença MIT. <br> <br>
							Alguns ícones são fornecidos por <a href="http://fontawesome.io/" target="_blank">Font Awesome</a>. O código é fornecido pela licença MIT. <br> <br>
							A máscara de telefone é produzida pelo <em>script</em> <a href="https://igorescobar.github.io/jQuery-Mask-Plugin/" target="_blank">jQuery Mask Plugin</a> de <a href="https://about.me/igorescobar" target="_blank">Igor Escobar</a>. O código é fornecido pela licença MIT. <br> <br>
							A implementação do envio de múltiplas imagens contém trechos de código de <a href="https://github.com/blueimp/jQuery-File-Upload" target="_blank">jQuery File Upload Plugin</a> de <a href="https://github.com/blueimp" target="_blank">Sebastian Tschan</a>. O código é fornecido pela licença MIT. <br> <br>
							O comportamento responsivo do footer da página inclui elementos de <a href="https://getbootstrap.com/2.3.2/examples/sticky-footer-navbar.html" target="_blank">Sticky footer</a>, uma cortesia de <a href="http://martinbean.co.uk" target="_blank">Martin Bean</a> e <a href="http://ryanfait.com/">Ryan Fait</a> <em>(in memoriam)</em>. <br> <br>
							As imagens relacionadas com alimentos contidas em várias partes deste <em>site</em> foram disponibilizadas em <a href="https://www.pexels.com" target="_blank">Pexels</a> sob a licença <a href="https://creativecommons.org/share-your-work/public-domain/cc0/" target="_blank">CC0</a>. <br> <br>
						</p>
					</article>

					<div class="col-md-1"></div>

					<aside class="col-md-3">
						<div class="form-group">&nbsp;</div>
							<div class="panel panel-default">
								<header class="panel-heading text-center aside-color">
									<h2>Saiba mais</h2>
								</header>
								<div class="list-group">
									<a href="https://choosealicense.com/licenses/mit/" class="list-group-item" target="_blank">
										<p class="list-group-item-text">Licença MIT (em inglês)</p>
									</a>
									<a href="https://creativecommons.org/" class="list-group-item" target="_blank">
										<p class="list-group-item-text">Creative Commons (em inglês)</p>
									</a>
								</div>
							</div>
					</aside>
					<div class="col-md-1"></div>
				</div>
			</main>
		</div>

		{% include 'includes/footer.html' %}

		{% include 'includes/scripts.html' %}

	</body>
</html>
