<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>{{ q }} – Nerd al Dente</title>
		<meta property="og:url" content="{{ url }}">
		<meta property="og:title" content="{{ q }} – Nerd al Dente">
		{% include 'includes/meta.html' %}
	</head>
	<body>
		<div class="wrap">

			{% include 'includes/header.html' %}

			{% include 'includes/menu.html' %}

			<main class="container">
				<div class="row">
					<div class="col-md-1"></div>
					<nav class="col-md-6">
						<header>
							<h1>"{{ q }}" <small>Resultados</small></h1>
						</header>
						{% for receita in receitas %}
						<div class="card-deck">
							<div class="card">
								<a class="card-link" href="{% url 'core:detalhes_receita' receita.id %}" title='Visualizar a receita "{{ receita.nome_receita }}".'>
									<img class="card-img-top card-img-top-big" src="/media/{{ receita.imagem_padrao.file }}" alt="{{ receita.imagem_padrao.imagem_alt }}">
									<div class="card-body">
										<h3 class="card-title">{{ receita.nome_receita }}</h3>
										<h4 class="text-muted"><small>Por {{ receita.autor.dj_usuario.first_name }}</small></h4>
									</div>
									<div class="card-footer text-center">
										<span class="glyphicon glyphicon-star"></span>
										<small class="text-muted"><span class="sr-only">Nota da receita:</span>{{ receita.media_notas }}</small>
										<span>&nbsp;</span>
										<span class="glyphicon glyphicon-user"></span>
										<small class="text-muted"><span class="sr-only">Receita avaliada por:</span>{{ receita.qtd_votos }} votos</small>
									</div>
								</a>
							</div>
						</div>
						<br>
						{% empty %}
						 <div class="card-deck">
							 <div class="jumbotron">
								<h2><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></h2>
								<p>Ah... não encontramos nenhuma receita por aqui.</p>
								<p><a class="btn btn-primary btn-lg" href="/" role="button">Voltar para página inicial</a></p>
							</div>
						</div>
						{% endfor %}
					</nav>

					<div class="col-md-1"></div>

					<aside class="col-md-3">
						<div class="form-group">&nbsp;</div>
							<div class="panel panel-default">
								<header class="panel-heading text-center aside-color">
									<h2>As melhores receitas!</h2>
								</header>
								<div class="list-group">
										{% for receita in receitas_aside %}
										<a href="{% url 'core:detalhes_receita' receita.id %}" class="list-group-item">
											<h3 class="list-group-item-heading">{{ receita.nome_receita }}</h3>
											<p><span class="badge"><span class="glyphicon glyphicon-star"></span>
											<span class="sr-only">Nota da receita:</span> {{ receita.media_notas }}
											<span>&nbsp;</span>
											<span class="glyphicon glyphicon-user"></span>
											<span class="sr-only">Receita avaliada por:</span> {{ receita.qtd_votos }} votos</span></p>
											<p class="list-group-item-text text-justify">{{ receita.descricao }}</p>
										</a>
										{% empty %}
										<div class="list-group-item">
											<p class="list-group-item-text">Ainda não temos receitas.</p>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
					</aside>

					<div class="col-md-1"></div>
				</div>
			</main>
		</div>

		{% include 'includes/footer.html' %}

		{% include 'includes/scripts.html' %}

	</body>
</html>
