{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Login – Nerd al Dente</title>
		<meta property="og:url" content="http://nerdaldente.com.br/login">
		<meta property="og:title" content="Login – Nerd al Dente">
		{% include 'includes/meta.html' %}
	</head>
	<body>
		<div class="wrap">

			{% include 'includes/header.html' %}

			{% include 'includes/menu.html' %}

			<main class="container">
				<div class="alert alert-danger alert-dismissible hidden" role="alert" id="aviso">
					{% if user.is_authenticated %}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<strong>Oooops...</strong> Você já está conectado como {{ user.username }}. Deseja fazer login com outro usuário?
					{% endif %}
				</div>
				<div class="row">
					<div class="col-md-1"></div>
					<article class="col-md-6">
						<header>
							<h1 class="form-signin-heading">Login</h1> <br>
						</header>
						<form class="form-signin" method="post">
							{% csrf_token %}
							<br>
							<label for="inputEmail" class="sr-only">E-mail</label>
							<input type="email" id="inputEmail" name="email" class="form-control" placeholder="E-mail" required autofocus> <br>
							<label for="inputPassword" class="sr-only">Senha</label>
							<input type="password" id="inputPassword" name="senha" class="form-control" placeholder="Senha" required> <br>
							<input type="hidden" id="next" name="next" value="">
							<button class="btn btn-lg btn-primary btn-block button-color" type="submit">Entrar</button> <br>
				  		</form>

							<center><span class="text-muted">OU</span></center>
							<br>
							<a class="btn btn-lg btn-primary btn-block button-color" href="/cadastrar-usuario">Cadastrar-se</a>
							<br>
					</article>

					<div class="col-md-1"></div>

					<aside class="col-md-3">
						<header>
							<h2>Faça mais!</h2>
						</header>
						<div class="well well-lg">
							 <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> <br>
							 <span>Compartilhe suas criações</span> <br> <br>
							 <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <br>
							 <span>Deixe seus comentários</span> <br> <br>
							 <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> <br>
							 <span>Avalie as melhores receitas</span>
						</div>
					</aside>
					<div class="col-md-1"></div>
				</div>
			</main>
		</div>

		{% include 'includes/footer.html' %}

		{% include 'includes/scripts.html' %}
		<script src="{% static 'js/util.js' %}"></script>

		<script>
			$(document).ready(function()
			{
				var param = get_url_param("ln");

				if ($('#aviso').children().length > 0)
					$("#aviso").removeClass("hidden");

				if (param)
				{
					$('#aviso').empty();
					$('#aviso').append('<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
					$('#aviso').append('<strong>Oooops...</strong> O e-mail ou a senha que você inseriu não são válidos.');
					$("#aviso").removeClass("hidden");
				}

				var param = get_url_param("next");
				$('#next').val(param);
			});
		</script>

	</body>
</html>
