{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Mapa do Site – Nerd al Dente</title>
		<meta property="og:url" content="http://nerdaldente.com.br/mapa">
		<meta property="og:title" content="Mapa do Site – Nerd al Dente">
		{% include 'includes/meta.html' %}
	</head>
	<body>
		<div class="wrap">

			{% include 'includes/header.html' %}

			{% include 'includes/menu.html' %}

			<main class="container">
				<div class="row">
					<div class="col-md-1"></div>
					<article class="col-md-6">
						<header>
							<h1>Mapa do site</h1>
						</header>
						<p>Encontre aqui a página que você está procurando.</p><br>
						<h3>Essencial</h3>
						<nav class="list-group">
  						<a href="/" class="list-group-item">Página inicial</a>
							<a href="/cadastrar-receita" class="list-group-item">Cadastrar uma receita</a>
						</nav>
						<h3>Para Você</h3>
						<nav class="list-group">
  						<a href="/login" class="list-group-item">Fazer login</a>
							<a href="/cadastrar-usuario" class="list-group-item">Criar uma conta</a>
						</nav>
						<h3>Categorias de Receitas</h3>
						<nav class="list-group">
							<a href="/categoria/acompanhamentos" class="list-group-item">Acompanhamentos</a>
							<a href="/categoria/aperitivos" class="list-group-item">Aperitivos</a>
							<a href="/categoria/entradas" class="list-group-item">Entradas</a>
							<a href="/categoria/lanches" class="list-group-item">Lanches</a>
							<a href="/categoria/molhos" class="list-group-item">Molhos</a>
							<a href="/categoria/pratos%20principais" class="list-group-item">Pratos Principais</a>
							<a href="/categoria/saladas" class="list-group-item">Saladas</a>
							<a href="/categoria/sobremesas" class="list-group-item">Sobremesas</a>
						</nav>
						<a href="{% static 'xml/sitemap.xml' %}" title="Baixar o arquivo em XML do mapa do site.">Versão em XML</a> <br> <br>
					</article>

					<div class="col-md-1"></div>

					<aside class="col-md-3">
						<div class="form-group">&nbsp;</div>
							<div class="panel panel-default">
								<header class="panel-heading text-center aside-color">
									<h2>As melhores receitas!</h2>
								</header>
								<div class="list-group">
									{% for receita in receitas_aside %}
									<a href="{% url 'core:detalhes_receita' receita.id %}" class="list-group-item">
										<p class="list-group-item-text">
											<span class="badge"><span class="glyphicon glyphicon-star"></span>
											<span class="sr-only">Nota da receita:</span>  {{ receita.media_notas }}</span>
											<span class="sr-only">Título da receita:</span>&emsp;{{ receita.nome_receita }}</p>
									</a>
									{% empty %}
									<div class="list-group-item">
										<p class="list-group-item-text">Ainda não temos receitas.</p>
									</div>
									{% endfor %}
								</div>
							</div>
					</aside>

					<div class="col-md-1"></div>
				</div>
			</main>
		</div>

		{% include 'includes/footer.html' %}

		{% include 'includes/scripts.html' %}

	</body>
</html>
