<!-- ARQUIVO DE TESTES
	 Deve ser usado antes de incorporar no código principal. -->

<html>
	<head>
		<title>Nerd al Dente</title>
		<meta property="og:url" content="http://nerdaldente.com.br/teste">
		<meta property="og:title" content="Nerd al Dente">
		{% include 'includes/meta.html' %}
	</head>
	<body style="margin-top: 0px">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<br><br><br>
					<img src='https://media1.tenor.com/images/9892f701ba7a30e78540b9e4f555aebe/tenor.gif'></img>
					<br><br>
					<a href="/">Voltar ao Nerd al Dente</a>
				</div>
			</div>
		</div>
	</body>
</html>
