/* Fonte e alinhamento da página */
html, body {
 	height: 100%;
  background-color: #FDFDFD;
}

body {
	margin-top: 80px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

div.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
}

/* Botão de pesquisa do header */
.stylish-input-group .input-group-addon {
    background: white;
    border-color: transparent;
}

.stylish-input-group .form-control {
	border-right: 0;
	box-shadow: 0 0 0;
	border-color: transparent;
  border-radius: 4px;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

/* Header e menu principal */
.navbar-default {
  border-color: transparent;
}

@media (min-width: 768px) {
	 div.menu {
		display: table;
		width: 100%;
		margin: 0;
	}

	div.menu > a {
		float: none;
		display: table-cell;
		text-align: center;
	}
}

div.list-group.menu .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div.list-group.menu .list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Cores */
header.header-color {
	background-color: #FFA640;
}

button.button-color {
	background-color: #2E7CA1;
}

aside.aside-color {
	background-color: #FFCE96;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-text,
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li.menu a:hover {
	color: black;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav li a:hover {
	color: white;
}


footer.footer-color {
	background-color: #A66215;
	color: white;
}

a.footer-link:link, a.footer-link:visited, a.footer-link:active {
    color: white;
    text-decoration: none;
}

a.footer-link:hover {
    color: #FFCE96;
    text-decoration: none;
}

a.list-group-item:hover {
	background-color: #ffead2;
}

#colorstar {
  color: #ee8b2d;
}

.badForm {
  color: #FF0000;
}

.goodForm {
  color: #00FF00;
}

#hearts {
  color: #ee8b2d;
}

#hearts-existing {
  color: #ee8b2d;
}

.evaluation {
  margin-left:30px;
}

/* Personalização dos cards */
a.card-link {
	display: block;
}

a.card-link:link, a.card-link:visited, a.card-link:active, a.card-link:hover {
	text-decoration: none;
	color: #333;
}

.card-body:hover {
	background-color: #ffead2;
}

div.empty-card {
	border: none;
}

@media (min-width: 576px) {
  .card-img-top-small {
    height: 100px;
  }
}
@media (max-width: 576px) {
  .card-img-top-small {
    height: 200px;
  }
}

@media (min-width: 576px) {
  .card-img-top-big {
    height: 300px;
  }
}
@media (max-width: 576px) {
  .card-img-top-big {
    height: 200px;
  }
}

/* Sobreposição de imagem e texto */
.thumbnail {
    position: relative;
    min-height: 130px;
    max-height: 260px;
    background: url("../img/recipe19.jpg");
    background-position: cover;
    background-size: 100%;
}
.caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.caption h1{
	color: white;
	text-shadow: 1px 1px #999;
	font-size: 42px;
}

/* Título com background acizentado */
.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../../static/img/nerdaldente/recipe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;

    padding-top: 30px;
	padding-bottom: 30px;
	max-height 230px;
}


/* ---------- Componente CARD do Bootstrap 4.0 ----------*/
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

@media (min-width: 576px) {
  .card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (min-width: 576px) {
  .card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
  }
  .card-group .card {
    -ms-flex: 1 0 0%;
        flex: 1 0 0%;
  }
  .card-group .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group .card:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group .card:first-child .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group .card:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group .card:last-child .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group .card:last-child .card-img-bottom {
    border-bottom-left-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) .card-img-top,
  .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
    border-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}
